@import "tailwindcss";

@theme {
  --color-htb-background: #1a2332;
  --color-htb-foreground: #a4b1cd;
  --color-htb-black: #000000;
  --color-htb-bright-black: #666666;
  --color-htb-white: #ffffff;
  --color-htb-bright-white: #ffffff;
  --color-htb-red: #ff3e3e;
  --color-htb-bright-red: #ff8484;
  --color-htb-green: #9fef00;
  --color-htb-bright-green: #c5f467;
  --color-htb-yellow: #ffaf00;
  --color-htb-bright-yellow: #ffcc5c;
  --color-htb-blue: #004cff;
  --color-htb-bright-blue: #5cb2ff;
  --color-htb-purple: #9f00ff;
  --color-htb-bright-purple: #c16cfa;
  --color-htb-cyan: #2ee7b6;
  --color-htb-bright-cyan: #5cecc6;
  --color-htb-selection-background: #313f55;
  --color-htb-cursor-color: #313f55;
}

body {
  background-color: var(--color-htb-background);
  color: var(--color-htb-bright-white);
  font-feature-settings: "rlig" 1, "calt" 1;
}

* {
  border-color: var(--color-htb-selection-background);
}
